//Variables

$primaryColorRED: #f03a37;
$secondaryColorBLUE: #022644;

$secondaryColorLIGHT: #CDDDDD; //00bbcc
$secondaryColorRED: darken($primaryColorRED, 10%);


$fontStackTittle: 'Raleway', sans-serif;

$secondaryText: #8f999a;

$white: #fff;
$black: #000;
$hyperlink: #86a0f1;
$bodyText: #5f6061;


$width : 30%;
$centerLeft : (100% - $width)/2;
