// end clients
footer.footer
  .container
    .col-md-8
      .col-md-8.content-box.wow.fadeIn(data-wow-delay='0s')
        h2 MEETINGS
        p 
          | Fridays
          br
          |    5:30pm - 7:30pm
        p 
          a(href="https://goo.gl/maps/s52QUZZas4m") Memorial Library M279 
      // end content-box
      .col-md-8.content-box.wow.fadeIn(data-wow-delay='0.1s')
        h2 DISSONANT
        p
          | We are an open-forum magazine that showcases the many stories and identities on UW’s campus and celebrates the beauty and strength of every student on campus. We encourage diversity, open dialogue, and self expression as a way for our campus to face tough issues together and to boost the self worth of all students.
      // end content-box
      .col-md-8.content-box.wow.fadeIn(data-wow-delay='0.2s')
        h2 GET INVOLVED
        p 
          a(href='/') Home 
        p
          a(href='/issues') Issues
        p
          a(href="/about-us") About
        p
          a(href="/get-involved") Get Involved
      // end content-box
    //end of column
  // end container
// end footer
footer.sub-footer
  .container.wow.fadeIn
    small All rights reserved 2019 &copy; Dissonant
    ul
      li
        a(href='#') Facebook
      li
        a(href='#') Instagram
  // end container
// end sub-footer
