// end clients
footer.footer
  .container
    .content-box.wow.fadeIn(data-wow-delay='0s')
      h2 MEETINGS
      p 
        | Fridays
        br
        |    5:30pm - 7:30pm
      p 
        a(href="https://goo.gl/maps/s52QUZZas4m") Memorial Library M279 
      br
    // end content-box
    .content-box.wow.fadeIn(data-wow-delay='0.1s')
      h2 DISSONANT
      p
        | Dissonant Magazine is an open-forum magazine that broadcasts the diversity of voices at UW-Madison and call to light the issues we face as a community.
      br
    // end content-box
    .content-box.wow.fadeIn(data-wow-delay='0.2s')
      h2 GET INVOLVED
      p 
        a(href='/') Home 
      p
        a(href='/issues') Issues
      p
        a(href="/about-us") About
      p
        a(href="/get-involved") Get Involved
    // end content-box
  // end container
// end footer
footer.sub-footer
  .container.wow.fadeIn
    small All rights reserved 2019 &copy; Dissonant
    |
    img(style={margin: 'auto'},src='images/ASM_logo_small.png', alt="Image")
    ul
      li
        a(href='#') Facebook
      li
        a(href='#') Instagram
  // end container
// end sub-footer
