// end clients
footer.footer
  .container
    .content-box.wow.fadeIn(data-wow-delay='0s')
      h2 MEETINGS
      p 
        | Fridays
        br
        |    5:30pm - 7:30pm
        br 
        |    Memorial Library M279 
    // end content-box
    .content-box.wow.fadeIn(data-wow-delay='0.1s')
      h2 GET IN TOUCH
      p
        | dissonant @ gmail.com
    // end content-box
    .content-box.wow.fadeIn(data-wow-delay='0.2s')
      h2 GET INVOLVED
      p 
        a(href='/')| Home       
    // end content-box
  // end container
// end footer
footer.sub-footer
  .container.wow.fadeIn
    small All rights reserved 2019 &copy; Dissonant
    ul
      li
        a(href='#') Facebook
      li
        a(href='#') Instagram
  // end container
// end sub-footer
