// end clients
footer.footer
  .container
    .content-box.wow.fadeIn(data-wow-delay='0s')
      h2 ADDRESS
      p
        | Boryissa Hymri Str. No : 126
        br
        |         Poxniaky Greenline
        br
        |         Kiev - Ukraine
    // end content-box
    .content-box.wow.fadeIn(data-wow-delay='0.1s')
      h2 GET IN TOUCH
      p
        | +380 98 294 80 86
        br
        |         hello [at] verno.com.ua
    // end content-box
    .content-box.wow.fadeIn(data-wow-delay='0.2s')
      h2 CAREER
      p
        | To see currently open positions
        br
        |         career [at] verno.com.ua
    // end content-box
  // end container
// end footer
footer.sub-footer
  .container.wow.fadeIn
    small All rights reserved 2019 &copy; Verno
    ul
      li
        a(href='#') Facebook
      li
        a(href='#') Behance
      li
        a(href='#') Dribbble
  // end container
// end sub-footer
