header.header
    //- aside.soundbar
    //-   .sound
    //-     .sound-title  SOUND 
    //-     // end sound-title
    //-     .equalizer
    //-       .holder
    //-         span
    //-         span
    //-         span
    //-         span
    //-         span
    //-         span
    //-       // end holder
    //-     // end equalizer
    //-     .sound-text
    //-       b
    //-         | OFF
    //-         br
    //-         |         ON
    //-     // end sound-text
    //-   // end sound
    //- // end soundbar
    ul.social-media
      li
        a(href='#') Facebook
      li
        a(href='#') Behance
      li
        a(href='#') Dribbble
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .slide-inner.bg-image(data-background='/images/slide01.png')
            .container
              h5(data-swiper-parallax='-200')
                | Issue #1
              h2(data-swiper-parallax='-300') WHERE ARE YOU FROM?
              a.btn-ghost(href='works-single.html' data-swiper-parallax='-100')
                span(data-hover='GET STARTED') Read it!
            // end container
          // end slide-inner
        // end swiper-slide
      // end swiper-wrapper
      .swiper-pagination
      // end swiper-pagination
      .swiper-button-next
        span(data-hover='NEXT') NEXT
      // end swiper-button-next
      .swiper-button-prev
        span(data-hover='PREV') PREV
      // end swiper-button-prev
    // end swiper-container
// end header