doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="author",content="Ajmain Naqib")
    meta(name="description" , content= description)
    meta(property="og:type" content="website")
    title= "Dissonant Magazine: " + title

    link(href='images/favicon.png' rel='shortcut icon')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body

    //preloader being
    .preloader
      .layer
      .inner
        figure
          img(src='images/loading.gif' alt='Image')
        span#typewriter.typewriter
    // end preloader

    include navbar

    if title == "Home"
      include header
    
    
    main
      block content
      include footer

script(src='javascripts/jquery.min.js')
script(src='javascripts/bootstrap.min.js')
script(src='javascripts/swiper.min.js')
script(src='javascripts/jquery.stellar.js')
script(src='javascripts/isotope.min.js')
script(src='javascripts/imagesloaded.pkgd.min.js')
script(src='javascripts/jquery.typewriter.js')
script(src='javascripts/odometer.min.js')
script(src='javascripts/fancybox.min.js')
script(src='javascripts/wow.min.js')
script(src='javascripts/scripts.js')