.navigation-menu
  .nav-bg
  // end nav-bg
  .nav-bg2
  // end nav-bg2
  .inner
    address
      span ADDRESS
      p
        | Boryissa Hymri Str. No : 126
        br
        |       Poxniaky Greenline
        br
        |       Kiev - Ukraine
    ul
      li
        a(href='#') HOME
        ul
          li
            a(href='index.html') Slider
          li
            a(href='index-video-bg.html') Video BG
          li
            a(href='index-carousel.html') Carousel
      li
        a(href='verno.html') VERNO
      li
        a(href='#') WORKS
        ul
          li
            a(href='works.html') 3 Columns
          li
            a(href='works-2cols.html') 2 Columns
      li
        a(href='blog.html') BLOG
      li
        a(href='contact.html') CONTACT
  // end inner
// end navigation-menu
.transition-overlay
  .layer
  // end layer
// end transition-overlay
nav.navbar
  .logo
    a(href='index.html')
      img(src='images/logo.png' alt='Image')
  // end logo
  .sandwich-nav
    .sandwich-text
      b
        | MENU
        br
        |       CLOSE
    // end sandwich-text
    #sandwich-btn.sandwich-btn
      span
      span
    // end sandwich-btn
  // end sandwich-nav
// end navbar