.navigation-menu
  .nav-bg
  // end nav-bg
  .nav-bg2
  // end nav-bg2
  .inner

    ul
      li
        a(href='#') HOME
      li
        a(href='#') ISSUES
      li
        a(href='#') ABOUT
      li
        a(href='#') GET INVOLVED
  // end inner
// end navigation-menu
.transition-overlay
  .layer
  // end layer
// end transition-overlay
nav.navbar
  .logo
    a(href='index.html')
      img(src='images/logo.png' alt='Image')
  // end logo
  .sandwich-nav
    .sandwich-text
      b
        | MENU
        br
        |       CLOSE
    // end sandwich-text
    #sandwich-btn.sandwich-btn
      span
      span
    // end sandwich-btn
  // end sandwich-nav
// end navbar